.me {
    height: 200px;
    width: 200px;
    padding-right: 20px;
    margin-bottom: 5px;
}

#back {
    background-color: gray;
    border: solid white 5px;
    margin-top: 250px;
    margin-bottom: 250px;
}

footer {
    background-color:grey;
    height: 80px;
    border-top: solid white 5px;
}

body {
    background-image: url(../images/connectwork.png);
}
 .navbar {
     border-bottom: solid white 5px;
 }

 h1 {
     border-bottom: solid 2px white;
     margin-left: 10px;
 }

 #submit {
     margin-bottom: 10px;
 }