.me {
    height: 200px;
    width: 200px;
    padding: 10px;
}

#back {
    background-color: wheat;
    border: solid gray 5px;
    padding: 15px;
    margin: 150px;
}

footer {
    background-color:wheat;
    height: 80px;
    border-top: solid gray 5px;
}